# Секреты базы данных
POSTGRES_USER=kois
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=chat_db

# Ссылка для ORM (Prisma)
DATABASE_URL="postgresql://kois:super_secret_password@localhost:5432/chat_db?schema=public"

# Порты приложений (Добавили!)
FRONTEND_PORT=5173
BACKEND_PORT=3000
