POSTGRES_USER=kois
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=chat_db

# Ссылку пишем ЦЕЛИКОМ в одну строчку — без фигурных скобок и баксов!
DATABASE_URL=postgresql://kois:super_secret_password@db:5432/chat_db?schema=public

# Переменные портов для сборки контейнеров
FRONTEND_PORT=3000
BACKEND_PORT=8080
PORT=8080

# Сюда же добавляем адрес фронта, который мы только что настроили в config.ts
FRONTEND_URL=http://localhost:5173
